<h2>Revisions</h2>
<table class="table table-sm table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Owner</th>
      <th>System Name</th>
      <th>CPU Make</th>
      <th>CPU Name</th>
      <th>CPU Socket</th>
      <th>CPU MHz</th>
      <th>CPU Processor Cores</th>
      <th>Chipset</th>
      <th>RAM</th>
      <th>RAM (MHz)</th>
      <th>GPU</th>
      <th>GPU Make</th>
      <th>GPU RAM (MB)</th>
      <th>Notes</th>
      <th>Link</th>
      <th>Revision Date</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let revision of revisions">
      <td>{{revision.machine.user.username}}</td>
      <td>{{revision.machine.owner}}</td>
      <td>{{revision.machine.system_name}}</td>
      <td>{{revision.cpu_make}}</td>
      <td>{{revision.cpu_name}}</td>
      <td>{{revision.cpu_socket}}</td>
      <td>{{revision.cpu_mhz}}</td>
      <td>{{revision.cpu_proc_cores}}</td>
      <td>{{revision.chipset}}</td>
      <td>{{revision.system_memory_gb}}</td>
      <td>{{revision.system_memory_mhz}}</td>
      <td>{{revision.gpu_name}}</td>
      <td>{{revision.gpu_make}}</td>
      <td>{{revision.gpu_memory_gb}}</td>
      <td>{{revision.revision_notes}}</td>
      <td><a href="{{revision.pcpartpicker_url}}">PCPartPicker</a></td>
      <td>{{revision.timestamp | date:"M/d/yy"}}</td>
      <td>{{revision.machine.active_revision.id === revision.id}}</td>
    </tr>
  </tbody>
</table>