<mat-table #table [dataSource]="dataSource" matSort>

  <!-- User Column -->
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.machine.user.username}} </mat-cell>
  </ng-container>
  <!-- Owner Column -->
  <ng-container matColumnDef="owner">
    <mat-header-cell *matHeaderCellDef> Owner </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.machine.owner}} </mat-cell>
  </ng-container>
  <!-- System Name Column -->
  <ng-container matColumnDef="system_name">
    <mat-header-cell *matHeaderCellDef> System Name </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.machine.system_name}} </mat-cell>
  </ng-container>
  <!-- Active Column -->
  <ng-container matColumnDef="active_revision">
    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.machine.active_revision.id === revision.id}} </mat-cell>
  </ng-container>
  <!-- Revision Date Column -->
  <ng-container matColumnDef="timestamp">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Revision Date </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.timestamp | date:"M/d/yy"}} </mat-cell>
  </ng-container>
  <!-- CPU Make Column -->
  <ng-container matColumnDef="cpu_make">
    <mat-header-cell *matHeaderCellDef mat-sort-header> CPU Make </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.cpu_make}} </mat-cell>
  </ng-container>
  <!-- CPU Name Column -->
  <ng-container matColumnDef="cpu_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> CPU Name </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.cpu_name}} </mat-cell>
  </ng-container>
  <!-- CPU Socket Column -->
  <ng-container matColumnDef="cpu_socket">
    <mat-header-cell *matHeaderCellDef mat-sort-header> CPU Socket </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.cpu_socket}} </mat-cell>
  </ng-container>
  <!-- CPU MHz Column -->
  <ng-container matColumnDef="cpu_mhz">
    <mat-header-cell *matHeaderCellDef mat-sort-header> CPU MHz </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.cpu_mhz}} </mat-cell>
  </ng-container>
  <!-- CPU Processor Cores Column -->
  <ng-container matColumnDef="cpu_proc_cores">
    <mat-header-cell *matHeaderCellDef mat-sort-header> CPU Processor Cores </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.cpu_proc_cores}} </mat-cell>
  </ng-container>
  <!-- Chipset Column -->
  <ng-container matColumnDef="chipset">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Chipset </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.chipset}} </mat-cell>
  </ng-container>
  <!-- RAM Column -->
  <ng-container matColumnDef="system_memory_gb">
    <mat-header-cell *matHeaderCellDef mat-sort-header> RAM </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.system_memory_gb}} </mat-cell>
  </ng-container>
  <!-- RAM (MHz) Column -->
  <ng-container matColumnDef="system_memory_mhz">
    <mat-header-cell *matHeaderCellDef mat-sort-header> RAM (MHz) </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.system_memory_mhz}} </mat-cell>
  </ng-container>
  <!-- GPU Column -->
  <ng-container matColumnDef="gpu_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> GPU </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.gpu_name}} </mat-cell>
  </ng-container>
  <!-- GPU Make Column -->
  <ng-container matColumnDef="gpu_make">
    <mat-header-cell *matHeaderCellDef mat-sort-header> GPU Make </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.gpu_make}} </mat-cell>
  </ng-container>
  <!-- GPU RAM (MB) Column -->
  <ng-container matColumnDef="gpu_memory_gb">
    <mat-header-cell *matHeaderCellDef mat-sort-header> GPU RAM (MB) </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.gpu_memory_gb}} </mat-cell>
  </ng-container>
  <!-- Notes Column -->
  <ng-container matColumnDef="revision_notes">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Notes </mat-header-cell>
    <mat-cell *matCellDef="let revision"> {{revision.revision_notes}} </mat-cell>
  </ng-container>
  <!-- Link Column -->
  <ng-container matColumnDef="pcpartpicker_url">
    <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
    <mat-cell *matCellDef="let revision"> <a href="{{revision.pcpartpicker_url}}">PCPartPicker</a> </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
