<h2>Futuremark 3DMark 06 Results</h2>
<table class="table table-sm table-bordered table-striped">
  <thead>
    <tr>
      <th>Owner</th>
      <th>System Name</th>
      <th>Date</th>
      <th>SM 2.0 Score</th>
      <th>CPU Score</th>
      <th>SM 3.0 Score</th>
      <th>Proxcyon FPS</th>
      <th>Firefly Forest FPS</th>
      <th>CPU 1 FPS</th>
      <th>CPU2 FPS</th>
      <th>Canyon Flight FPS</th>
      <th>Deep Freeze FPS</th>
      <th>Overall Score</th>
      <th>Active Revision</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of futuremark3dMark06Results">
      <td>{{result.owner}}</td>
      <td>{{result.system_name}}</td>
      <td>{{result.result_date | date:"M/d/yy"}}</td>
      <td>{{result.sm2_score}}</td>
      <td>{{result.cpu_score}}</td>
      <td>{{result.sm3_score}}</td>
      <td>{{result.proxcyon_fps}}</td>
      <td>{{result.fireflyforest_fps}}</td>
      <td>{{result.cpu1_fps}}</td>
      <td>{{result.cpu2_fps}}</td>
      <td>{{result.canyonflight_fps}}</td>
      <td>{{result.deepfreeze_fps}}</td>
      <td><a href='{{result.result_url}}'>{{result.overall_score}}</a></td>
      <td>{{result.active_revision}}</td>
    </tr>
  </tbody>
</table>
