<h2>Futuremark 3DMark Results</h2>
<table class="table table-sm table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Owner</th>
      <th>System Name</th>
      <th>Revision Date</th>
      <th>Entry Date</th>
      <th>Ice Storm Score</th>
      <th>Cloud Gate Score</th>
      <th>Fire Strike Score</th>
      <th>Sky Diver Score</th>
      <th>Overall Result URL</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of futuremark3dMarkResults">
      <td>{{result.revision.machine.user.username}}</td>
      <td>{{result.revision.machine.owner}}</td>
      <td>{{result.revision.machine.system_name}}</td>
      <td>{{result.revision.timestamp | date:"M/d/yy"}}</td>
      <td>{{result.result_date | date:"M/d/yy"}}</td>
      <td><a href='{{result.icestorm_result_url}}'>{{result.icestorm_score}}</a></td>
      <td><a href='{{result.cloudgate_result_url}}'>{{result.cloudgate_score}}</a></td>
      <td><a href='{{result.firestrike_result_url}}'>{{result.firestrike_score}}</a></td>
      <td><a href='{{result.skydiver_result_url}}'>{{result.skydiver_score}}</a></td>
      <td><a href='{{result.overall_result_url}}'>{{result.overall_result_url}}</a></td>
      <td>{{result.revision.machine.active_revision.id === result.revision.id}}</td>
    </tr>
  </tbody>
</table>
