<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/users" routerLinkActive="active">Users</a>
  <a routerLink="/machines" routerLinkActive="active">Machines</a>
  <a routerLink="/revisions" routerLinkActive="active">Revisions</a>
  <a routerLink="/cinebenchr15results" routerLinkActive="active">Cinebench R15</a>
  <a routerLink="/futuremark3dmark06results" routerLinkActive="active">3DMark 06</a>
  <a routerLink="/futuremark3dmarkresults" routerLinkActive="active">3DMark</a>
</nav>
<router-outlet></router-outlet>