<h2>Machines</h2>
<div class="container">
    <label>System name: </label> <input #systemName />
    <button (click)="add(systemName.value); systemName.value=''">
        Add
    </button>
</div>
<div id="machines" class="container" *ngFor="let machine of machines">
    <div class="card mb-3">
        <div class="card-header">
            <a [routerLink]="['/machines', machine.id]">{{machine.system_name}}</a>
        </div>
        <div class="card-block">
            <p class="card-text">Owner: {{machine.owner}}</p>
            <p class="card-text">{{machine.system_notes}}</p>
            <p class="card-text">Date: {{machine.timestamp | date:"M/d/yy"}}</p>
        </div>
    </div>
</div>
